/* Error Helper */
.oxo-error-notice { 
	position: absolute; 
	top: 0px; 
	left: 0px; 
	padding: 10px;
	color: darkred; 
	background-color: red; 
	border: 1px solid darkred; 
}

/* The List outer wrapper */
ul.pagination {
	  
}
	/* A single list element, incl. first/last/prev/next/current & pagination numbers */
	li.pagination-num {  
		
	}

	/* Specific li items: */
		/* First */
		li.pagination-first {
			 
		}
			li.pagination-first a {
				  
			}

		/* Previous */
		li.pagination-prev {
			  
		}
			li.pagination-prev a {
				  
			}

		/* numbers */
		li.pagination-num {
			  
		}
			li.pagination-num a {
				  
			}
		/* numbers - current */
		li.pagination-num.current {
			  
		}
			li.pagination-num.current a {
				  
			}

		/* Next */
		li.pagination-next {
			  
		}
			li.pagination-num-next a {
				  
			}

		/* Last */
		li.pagination-last {
			  
		}
			li.pagination-last a {
				  
			}